body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  padding: 3.125rem;
}

h1 {
  color: #dc3545;
}

p {
  margin: 1.25rem 0;
}

a {
  display: inline-block;
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
}
